.reveal h3 {
    text-align: left;
    text-transform: none;
}
.reveal img.plain {
    background: none;
}

.reveal img.small-icon {
    vertical-align: middle;
    height: 20px;
    margin: 0 10px 0 0;
}

.reveal img.icon {
    vertical-align: middle;
    height: 40px;
}

.reveal img.big-icon {
    vertical-align: middle;
    height: 80px;
}

.reveal .figure h1 {
    font-size: 20px;
}
.reveal .img-box {
    display: flex;
}
.reveal .img-box div {
    min-width: 200px;
}

.reveal .label-box {
    overflow: hidden;
    position: absolute;
    width: 30%;
    right: -7vw;
    top: 400px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2);
    background-color: #66554499;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

dl {
}
.reveal dt {
    float: left;
    clear: left;
    width: 500px;
    text-align: right;
    font-weight: bold;
    color: #888;
}
.reveal dt::after {
    content: ":";
}
.reveal dd {
    clear:right;
    margin: 0 0 0 510px;
    padding: 0 0 0.5em 0;
}

div.r-hstack * {
    margin: 1px;
}
